{% extends "base.html" %}
{% block title %}
  Пост №{{ post.id }}
{% endblock %}
{% block header %}
  Пост №{{ post.id }}
{% endblock %}

{% block content %}

<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      {% include 'includes/card.html' %}
    </div>
    <div class="col-md-9">
    <!-- Пост -->
    {% include "includes/post_item.html" with post=post %}
    <!-- Комментарии -->
    {% include 'comments.html' %}
    </div>  
  </div> 
</main> 

{% endblock %}
